h3 {
  text-align: center;
}


.first {
  margin: auto;
  display: grid;
  grid-template-areas:
    "a b c d e f "
    "g h h d e f "
    "g h h d e f ";
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 10% 30% 10% 10% 17% 3%;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: center;
  min-width: 300px;
  max-width: 40%;
  flex: 1 1 auto;


}



.first div {
  border-radius: 5px;
}

.ab {
  background-color: red;
  grid-area: a;
}

.cd {
  background-color: lightgreen;
  grid-area: b;
}

.ef {
  background-color: darkgreen;
  grid-area: c;
}

.gh {
  background-color: skyblue;
  grid-area: d;
}

.ij {
  background-color: navy;
  grid-area: e;
}

.kl {
  background-color: rgb(35, 163, 213);
  grid-area: f;
}

.mn {
  background-color: rgb(255, 123, 0);
  grid-area: g;
}

.op {
  background-color: bisque;
  grid-area: h;
}


.second {

  display: grid;
  margin: auto;
  margin-top: 20px;
  grid-template-areas:
    "aaa bbb bbb ccc"
    "aaa ddd eee fff"
    "aaa ggg hhh fff";
  justify-content: center;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 21% 21% 21% 21%;
  gap: 5px;
  min-width: 300px;
  max-width: 40%;
  flex: 1 1 auto;
}



.aa {
  background-color: green;
  grid-area: aaa;
}

.bb {
  background-color: green;
  grid-area: bbb;
}

.cc {
  background-color: rgb(254, 37, 8);
  grid-area: ccc;
}

.dd {
  background-color: rgb(245, 245, 60);
  grid-area: ddd;
}

.ee {
  background-color: rgb(245, 48, 34);
  grid-area: eee;
}

.ff {
  background-color: green;
  grid-area: fff;
}

.gg {
  background-color: rgb(238, 34, 11);
  grid-area: ggg;
}

.hh {
  background-color: rgb(246, 231, 64);
  grid-area: hhh;
}

.ii {
  background-color: green;
  grid-area: iii;
}

.third {

  display: grid;
  margin: auto;
  margin-top: 20px;
  grid-template-areas:
    "it1 it2 it3"
    "it4 it6 it6"
    "it5 it6 it6";
  justify-content: center;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 28% 28% 28%;
  gap: 5px;
  min-width: 300px;
  max-width: 40%;
  flex: 1 1 auto;

}


.item1 {
  background-color: rgb(15, 238, 219);
  grid-area: it1;

}

.item2 {
  background-color: rgb(212, 193, 25);
  grid-area: it2;

}

.item3 {
  background-color: rgb(214, 13, 232);
  grid-area: it3;

}

.item4 {
  background-color: rgb(245, 21, 129);
  grid-area: it4;

}

.item5 {
  background-color: rgb(13, 52, 249);
  grid-area: it5;

}

.item6 {
  background-color: rgb(55, 248, 26);
  grid-area: it6;

}

.third div,
.second div,
.first div {
  border-radius: 10px;
  box-shadow: 5px 8px 9px 1px;
}